@charset "UTF-8";
/* CSS Document */
/* The body tag style applies to all elements on the page */
/* #FFF5E3 #A3C6A8 #D7BDE2 #F4A261 #F7CAC9 */

/* Connecting Google Fonts from html to css */
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #FFF5E3;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  background-color: #A3C6A8;
  padding: 10px;
  margin: 0;
  text-align: center;
}

img {
    height: 90px;
    width: 90px;
    border-radius: 0;
    border: 7px solid #F4A261;
}

video {
    margin: 15px auto;
    display: block;
    background-color: #F7CAC9;
    border: 15px #D7BDE2 solid; /*makes a border that is 2px wide, white, and solid (not dashed or dotted) */
    box-shadow: 10px 10px 5px #A3C6A8;
    height: auto;
}

.card {
    border: 10px solid #D7BDE2;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: #F4A261;
    width: 70%;
}

footer {
  background-color: #F4A261;
  padding: 10px;
  margin: 0;
}

#gradient-background {
    background: linear-gradient(to bottom, #D7BDE2, #A3C6A8);
    padding: 10px;
}

#homepage-footer {
    background: linear-gradient(45deg, #F7CAC9, #D7BDE2);
    padding: 10px;
}

.clear {clear: both;
}

form {
    background-color:#D7BDE2;
    padding: 10px;
    margin: 0;
}

/*Removed the .card:hover feature for tablet and mobile*/

nav a{
    font-size: large;
    background-color: #F7CAC9;
    display: block;
    width: 25%;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #D7BDE2;
}

main h2{
    padding: 10px;
}


#wrapper{
    width: 90%;
    margin: auto;
    background-color:#F7CAC9; 
}

input, textarea{
    width: 90%;
}